@font-face {
  font-family: 'Quantico';
  src: url('../fonts/Quantico-Bold.ttf') format('truetype');
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-right: 100px;
  padding-left: 100px;
  font-family: 'Quantico';
  text-align: center;
  color: white;
  font-size: 50px;
}

#main-canvas {
  position: relative;
  height: 768px;
  width: 100%;
  margin: 0 0;
  overflow: hidden;
  background-image: url('../images/bg.jpg');
}

#score-container {
  display: block;
  font-family: 'Quantico';
  margin-left: 5%;
  padding-top: 5px;
  padding-right: 200px;
  font-size: 35px;
  text-decoration: underline;
  color: white;
}

input[type='text'] {
  display: block;
  width: 320px;
  border: 12px dotted #3bff93;
  margin: auto;
  padding: 15px 15px;
  font-size: 50px;
  font-family: 'Quantico';
  text-shadow: 2px 2px 0px #073d00;
  color: #ffffff;
  text-align: center;
  background: transparent;
}

#player-connection {
  display: block;
  width: 250px;
  padding: 10px;
  border: 4px solid black;
  border-radius: 10px;
  margin: 25px auto;
  font-size: 65px;
  font-family: 'Quantico';
  color: rgb(0, 0, 0);
  text-align: center;
  background: #00ff73;
}

#winner-div {
  display: block;
  width: 550px;
  padding: 5px;
  margin: 25px auto;
  font-size: 30px;
  font-family: 'Quantico';
  color: white;
  border: 6px dotted #3bff93;
  text-align: center;
}

.filler-top {
  display: flex;
  direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #103025;
  height: 70px;
  border-bottom: 3px solid #004b31;
}

.filler-bottom {
  display: flex;
  direction: row;
  border-top: 3px solid #004b31;
  width: 100%;
  background-color: #103025;
  height: 170px;
}
